%nav.navbar.navbar-light.bg-light
  .container
    .row
      %a.navbar-brand(href="/")
        = image_tag("https://lh4.googleusercontent.com/JF5ll5h92znpF3dMZZM7oImhi9j_OH1LCT9on-zozUX0jXsU3wICu0LpvAbHCn0sro1szi2RXim5DPuqDUie7d1sJ0tJRVHefO97NwA4C_Ha06HBScmZtE3GuW2Im8MJvSF_zJdh", width: "50px")
        %span(style="color: red;")= ":codica"
        test
